@font-face {
    font-family: Comfortaa;
    src: url(../css/fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf);
}



body {
    background-color: #506ee5;
}

.container-main {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    justify-content: center;
    width: 76em;
    height: 90%;
    border-radius: 20px;
    /* PARA BOX-SHADOW FOI UTILIZADO O SITE CSSmatic */
    -webkit-box-shadow: 11px 10px 5px -4px rgba(37, 37, 37, 0.81);
    -moz-box-shadow: 11px 10px 5px -4px rgba(20, 20, 20, 0.81);
    box-shadow: 11px 10px 5px -4px rgba(83, 79, 79, 0.81);
}

.container-flex {
    display: flex;

}

.container-left {
    flex-direction: row;
}

.container-right {
    flex-direction: row;
    margin: 0 auto;
    margin-top: 60px;
}

.img-cad {
    height: 45em;
    width: 40em;
}

.textoImg {
    display: flex;
    flex-direction: column;
}

.titulo {
    color: #68b2f8;
    font-family: Comfortaa;
    font-size: 48px;
}

.subtitulo {
    font-family: Comfortaa;
    font-size: 16px;
}

form {
    margin-top: 20px;
}

form label,
form button {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    font-family: Comfortaa;
}

input {
    margin-bottom: 10px;
    width: 100%;
    height: 28px;
    border-radius: 7px;
    border: 1px solid gray;
    font-size: 14px;
    font-family: Comfortaa;
}

input:hover {
    border: 1px solid #506ee5;
}

input:active {
    border: 1px solid #68b2f8;
}

.btnEnviar {
    border: 0px solid;
    cursor: pointer;
    background-color: #506ee5;
    color: white;
    font-size: 18px;
    margin-top: 8px;
    justify-content: center;
    align-items: center;
    height: 35px;
    width: 100px;
    -webkit-box-shadow: 14px 10px 5px -3px rgba(0, 0, 0, 0.13);
    -moz-box-shadow: 14px 10px 5px -3px rgba(0, 0, 0, 0.13);
    box-shadow: 14px 10px 5px -3px rgba(0, 0, 0, 0.13);
    border-radius: 8px;
}

.btnEnviar:hover {
    background-color: #68b2f8;
    transition: 0.2s;
    height: 36px;
    width: 105px;
}

.btnEnviar:active {
    background-color: #506ee5;
}

.feedback {
    color: red;
    font-family: Comfortaa;
    margin-top: 20px;
    font-size: 18px;
    
}